<%= link_to "Register", new_user_path %>
<%= link_to "Login", "/login" %>

<h1>Plants:</h1>
<h3><%= link_to "Add Plant", new_plant_path %></h3>
<div class="plants-container">
  <% @plants.each do |plant| %>
    <div class="plant-card">
      <h2><%= plant.name %></h2>
      <p>Days to maturity: <%= plant.days %></p>
      <p>Distance between plants: <%= plant.distance %> in</p>
      <p>Sun exposure: <%= plant.sun %></p>


    </div>
  <% end %>

</div>
